<div class="userBoolClass">
    <div class="row" style="margin-left: 30px; margin-right: 30px; margin-top: 10px; margin-bottom: 10px;">
      <div class=".col col-xl-12 text-xs-center">
        <div class="card mb-3">
          <div class="card-header bg-white ">
            <div>
              <div class="row">
                <div class="form-group col-md-8">
                  <label for="asset_type_id">{{'Your organization has identified a business use case for managing and
                    analyzing IOT Data?' | translate}}</label>
                  <input type="text" id="asset_type_id" class="form-control" name="asset_type_id">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-8">
                  <label for="asset_type_desc">{{'Your organization has identified a business use case for managing and
                    analyzing IOT Data?' | translate}}</label>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="option1">
                    <label class="form-check-label" for="option1">
                      Option 1
                    </label><br>
                    <input class="form-check-input" type="checkbox" value="" id="option2">
                    <label class="form-check-label" for="option2">
                      Option 2
                    </label><br>
                    <input class="form-check-input" type="checkbox" value="" id="option3">
                    <label class="form-check-label" for="option3">
                      Option 3
                    </label><br>
                    <input class="form-check-input" type="checkbox" value="" id="option4">
                    <label class="form-check-label" for="option4">
                      Option 4
                    </label><br>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-8">
                  <label for="asset_type_name">{{'Your organization has identified a business use case for managing and
                    analyzing IOT Data?' | translate}}<span style="color: red;">*</span></label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                      value="option1" checked>
                    <label class="form-check-label" for="option1">
                      Option 1
                    </label><br>
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                      value="option2" checked>
                    <label class="form-check-label" for="option2">
                      Option 2
                    </label><br>
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                      value="option3" checked>
                    <label class="form-check-label" for="option3">
                      Option 3
                    </label><br>
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                      value="option4" checked>
                    <label class="form-check-label" for="option4">
                      Option 4
                    </label><br>
                  </div>


                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-8">
                  <label for="asset_type_desc">{{'Your organization has identified a business use case for managing and
                    analyzing IOT Data?' | translate}}</label>
                  <select class="form-control">
                    <option>Option 1</option><br>
                    <option>Option 2</option><br>
                    <option>Option 3</option><br>
                    <option>Option 4</option><br>
                  </select>

                </div>
              </div>
              
              <div class="row">
                <div class="col text-center">
                  <button class="btn btn-success" style="font: normal normal bold 12px/15px Lato;">
                    {{'Next' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
