<br />
<br />
<br />
<br />
<br />

<div class="container justify-content-center" style="display: block;">
    <div class="row">
        <div class="col-9">
            <h1>Question-Dashboard</h1>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="openFormModal()">
                <i class="fa fa-plus-square"></i> Create New Question
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="sampleDropdownMenu" data-toggle="dropdown">
                Assessment Area
            </button>
            
            <div class="dropdown-menu">
                <div *ngFor="let area of dropdown_arr">
                    <lable>
                        <input type="checkbox" value="{{ area }}" (change)="onCheckBoxChange(area, $event)" /> {{ area }}
                    </lable>
                </div>
            </div>
        </div>
    </div>
   
    </div>
    <!-- <div class="row">
        <div class="col-2">
            <h3>Assessment Area Filter</h3>
        </div>
        <div class="col-3">
            <select
                class="form-select"
                (change)="AreaChanged($any($event.target).value)"
            >
                <option *ngFor="let area of area_arr" [value]="area['Assessment_Area']">{{ area['Assessment_Area'] }}</option>
            </select>
        </div>
        <div class="col-2">
            <h3>Category Filter</h3>
        </div>
        <div class="col-2">
            <select
                class="form-select"
                (change)="CategoryChanged($any($event.target).value)"
            >
                <option *ngFor="let category of categories" [value]="category['CategoryName']">{{ category['CategoryName'] }}</option>
            </select>
        </div>
       
    </div> -->
    <br>
    
    <div class="row">
        <table class="table table-bordered table-light table-striped table-hover table-borderless">
            <thead>
                <tr>
                    <th scope="col">{{ 'Assessment Area' }}</th>
                    <th scope="col">{{ 'Category' }}</th>
                    <th scope="col">{{ 'Question' }}</th>
                    <th scope="col">{{ 'Statement' }}</th>
                    <th scope="col">{{ 'Weightage' }}</th>
                    <th scope="col">{{ 'Target Score' }}</th>
                    <th scope="col">{{ 'Question Type' }}</th>
                    <th scope="col">{{ 'View Options' }}</th>

                    <!-- <th scope="col">{{ 'Target Score' }}</th> -->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    class="accordion-toggle collapsed"
                    id="accordion1"
                    data-toggle="collapse"
                    data-parent="#accordion1"
                    *ngFor="let question of filtered_question_arr | paginate: { itemsPerPage: 8, currentPage: p }"
                >
                    <!-- <div *ngFor="let i of [21,2,3,4,4,524]">ahdlasdjlasjd</div> -->

                    <td>{{ question['AssessmentAreaName'] }}</td>
                    <td>{{ question.CategoryName }}</td>
                    <td>{{ question.Question }}</td>
                    <td>{{ question['Statement'] }}</td>
                    <td>{{ question['Weightage'] + '%' }}</td>
                    <td>{{ question['Target_Score'] }}</td>
                    <td>{{ question['Question_Type_Name'] }}</td>
                    <!-- <td>{{ question.Target_Score }}</td> -->
                    <!-- <td>
                        <button type="button" class=""  (click)="editdata(question.Key)"
                          style="outline-color: transparent;border-color: transparent;">
                          <i class="fa fa-ellipsis-v "></i></button>
                      </td> -->
                    <td>
                        <div *ngIf="question['Question_Type_Name']==='Radio'">
                        <button
                            type="button"
                            class="btn btn-success btn-sm mr-2"
                            data-toggle="modal"
                            (click)="openOptionModal(question['Question_Id'])"
                        >
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </button>
                        </div>
                    </td>
                    <td>
                        <button
                            type="button"
                            class="btn btn-danger btn-sm mr-2"
                            data-toggle="modal"
                            (click)="assignDeleteAssetId(question.Key)"
                        >
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-warning btn-sm" (click)="editdata(question.Key)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </td>
                    <!-- <td>lksj;sdajf;</td>
                    <td>sl;djf;lsdfjk</td>
                    <td>slfls;dfk</td>
                    <td>sf;lsdkf</td>
                    <td>sdfl'sfldsd</td> -->
                </tr>
                <tr>
                    <td colspan="9" style="justify-content: center;">
                        <pagination-controls
                            (pageChange)="p = $event"
                            class="d-flex justify-content-center"
                        ></pagination-controls>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
