<!-- <div [@routerTransition] class="login-page"  style="background-image: url('assets/images/palette_banar5.jpg')">
    <div class="row justify-content-md-center" style="padding: 10%;">
        <div class="col-md-4 bg-white" style="padding: 3%;">
          <img class="user-avatar" src="../../assets/LTI_Lets_solve.png" width="70px"  height="90px" /> 
            <label style="
           font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/var(--unnamed-line-spacing-24) Lato;
           
           color: #000000;
           text-transform: uppercase;
           opacity: 1;">SIGN IN</label> 
            
           <form role="form" [formGroup]="LoginForm"  (ngSubmit)= "onLoggedin()" >
                <div class="form-content">
                    <div class="form-group" >
                        <input
                            [placeholder]="'Email' | translate"
                            class="form-control input-underline input-lg"
                            type="text" [(ngModel)]="userName" value="userName" formControlName="userName" 
                            />
                    </div>

                    <div class="form-group">
                        <input
                            [placeholder]="'Password' | translate"
                            class="form-control input-underline input-lg"
                            type="password" [(ngModel)]="password" value="password" formControlName="password"
                        />
                    </div>
                    <button class="btn btn-block" style="background-color: #4b2fc9; color: white;">{{
                        'Sign in' | translate
                    }}</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<div [@routerTransition] class="login-page"  style="background-image: url('assets/images/palette_banar5.jpg')">
    <div class="row justify-content-md-center" style="padding: 10%;">
        <div class="col-md-4 bg-white" style="padding: 3%;">
          <img class="user-avatar" src="assets/LTI_Lets_solve.png" width="70px"  height="90px" /> <br/>
           <label style="
           font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/var(--unnamed-line-spacing-24) Lato;
           
           color: #000000;
           text-transform: uppercase;
           opacity: 1;">SIGN IN</label>     
            <div *ngIf="loginError" class="loginError" >
                Username or Password is Invalid!
            </div>
           <form role="form" [formGroup]="LoginForm"  (ngSubmit)= "onLoggedin()" >
                <div class="form-content">
                    <div class="form-group" >
                        <input
                            [placeholder]="'Email' | translate"
                            class="form-control"
                            type="text" [(ngModel)]="userName" value="userName" formControlName="userName"/>
                    </div>

                    <div class="form-group">
                        <input
                            [placeholder]="'Password' | translate"
                            class="form-control "
                            type="password" [(ngModel)]="password" value="password" formControlName="password"
                        />
                    </div>
                    
                    <button class=" form-control btn btn-block" style="background-color: #DD7700; 
                   
                    letter-spacing: var(--unnamed-character-spacing-0);
                   
                    font: normal normal bold 14px/17px Lato;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;">{{
                        'Log in' | translate
                    }}</button>
                </div>
            </form>
        </div>
    </div>
</div>