.pm {
    margin-top: 4%;
    background-color: #006FBA;
    height: 60px;
    padding-top: 25px;
}
.nav2text{
    margin-left: 12px;
    padding-top: 22px;
    padding-bottom: 21px;
    line-height: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color : #FFFFFF;
    opacity: 1;
}
.uppercase {
    text-transform: uppercase;
}
.btnimg {
    margin-bottom: 12px;
    margin-left: 85px;
    height: 40px;
    width: 40px;
    border-radius: 70px;
    background-color: #005D9B;
    box-shadow: none;
    border: none;
}
.duration {
    background-color: #FED400;
    margin-right: 100px;
    height: 40px;
    width: 100px;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #343434;
    opacity: 1;
    margin-top: -5px;
    margin-bottom: 10px;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #FED400;
    border-radius: 4px;
    margin-right: 10px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: -25px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #FED400;
    border-radius: 4px;
    margin-right: 10px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: -25px;
}


*:focus{
    outline: 0 !important;
}
.rowgap{
    row-gap: 12px;
}
.header-text{
    margin-top: 12px;
    margin-left: 12px;
    width: 92px;
    //font-weight: bold;
    color : #343434;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
// .param1 {
//     background-color: #EDEDED;
//     float: right;
//     height: 36px;
//     width: 106px;
//     font-family: 'Lato', sans-serif;
//     text-align: left;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 15px;
//     color: #343434;
//     opacity: 1;
//     margin-top: -40px;
//     margin-right: 145px;
// }
// .param2{
//     background-color: #EDEDED;
//     float: right;
//     height: 36px;
//     width: 106px;
//     font-family: 'Lato', sans-serif;
//     text-align: left;
//     font-weight: normal;
//     font-size: 12px;
//     line-height: 15px;
//     color: #343434;
//     opacity: 1;
//     margin-top: -40px;
//     margin-right: 0px;
// }
